.container {
    text-align: center;
}

.loginButton {
    width: 100px;
    height: 30px;
    background-color: aquamarine;
    border: solid 3px blue;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
}

.loginButton:hover {
    background-color: aliceblue;
}